<!DOCTYPE html>
<html lang='en' xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Simon Mckindley">
    <meta name="description" content="">
    <title>Battleship - Winner</title>
    <link rel="icon" href='background.png' type="image/x-icon">
    <link id='stylecss' type="text/css" rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1 class="login-h1">Battleship</h1>
    </header>

    <main>
        <div class="winner">
        	<span>WINNER!</span>
        	<span th:text="${winner}"></span>
            <a href="/login" class="submit-button win-button">Play Again</a>
        </div>
    </main>

</body>

</html>